@model Airline21.Models.Flight

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    /* Custom CSS for a table layout */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #ccc;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #007BFF;
        color: #fff;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
        background-color: #fff;
    }
    /* CSS for styling the "Delete" button */
    input[type="submit"] {
        background-color: #dc3545; /* Red background color */
        color: #fff; /* White text color */
        padding: 10px 20px; /* Adjust padding as needed */
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #c82333; /* Darker red on hover */
            color: #fff;
        }
</style>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <table>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.IdFlight)</td>
            <td>@Html.DisplayFor(model => model.IdFlight)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.NameFlight)</td>
            <td>@Html.DisplayFor(model => model.NameFlight)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.departure_time)</td>
            <td>@Html.DisplayFor(model => model.departure_time)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.arrival_time)</td>
            <td>@Html.DisplayFor(model => model.arrival_time)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.fromAirport)</td>
            <td>@Html.DisplayFor(model => model.fromAirport)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.toAirport)</td>
            <td>@Html.DisplayFor(model => model.toAirport)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.toAirport)</td>
            <td>@Html.DisplayFor(model => model.toAirport)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FlightDate)</td>
            <td>@Html.DisplayFor(model => model.FlightDate)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.IDBrand)</td>
            <td>@Html.DisplayFor(model => model.IDBrand)</td>
        </tr>


    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Flight")
        </div>
    }
</div>
