@model Airline21.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #2c3e50;
        color: #ecf0f1;
        margin: 0;
        padding: 0;
    }

    main {
        padding-top: 100px;
    }

    .container {
        max-width: 500px;
        margin: auto;
    }

    .navbar {
        background-color: transparent;
        padding: 10px;
        transition: background-color 0.5s ease-in-out;
    }

    .navbar-brand {
        color: #ecf0f1;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .navbar-toggler-icon {
        background-color: #ecf0f1;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar.scrolled {
        background-color: #34495e;
    }

    h2 {
        text-align: center;
        color: dodgerblue;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .card {
        border-radius: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 2.5rem;
        background: linear-gradient(45deg, #3498db, #9b59b6); /* Gradient background */
        border-radius: 1rem;
    }

    .form-outline {
        margin-bottom: 1.5rem;
    }

    .btn-outline-light {
        background-color: transparent;
        color: #ecf0f1;
        border-color: #ecf0f1;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

        .btn-outline-light:hover {
            background-color: #ecf0f1;
            color: #2c3e50;
        }

    .text-white-50 {
        color: #95a5a6;
        transition: color 0.3s ease-in-out;
    }

        .text-white-50:hover {
            color: #bdc3c7;
        }

    .google-login-btn {
        background-color: #4285F4;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s ease-in-out;
        margin-top: 10px;
        cursor: pointer;
    }

        .google-login-btn:hover {
            background-color: #357AE8;
        }
</style>


<link href="~/assets/css/theme.css" rel="stylesheet" />

<main aria-labelledby="title">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll" style="height: 100px">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("index","Homepage")">
                <img class="d-inline-block" src="~/assets/img/gallery/logo.png" width="50" alt="logo" />
                <span class="fw-bold text-primary ms-2">HK AIRLINE</span>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto pt-2 pt-lg-0 font-base">
                    <li class="nav-item px-2">
                        <a class="nav-link fw-medium active" aria-current="page" href="#destinations">
                            <span class="nav-link-icon text-800 me-1 fas fa-map-marker-alt"></span>
                            <span class="nav-link-text">Locations</span>
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="#flights">
                            <span class="nav-link-icon text-800 me-1 fas fa-plane"></span>
                            <span class="nav-link-text">Flights</span>
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="#hotels">
                            <span class="nav-link-icon text-800 me-1 fas fa-hotel"></span>
                            <span class="nav-link-text">Hotels</span>
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="#">
                            <span class="nav-link-icon text-800 me-1 fas fa-bolt"></span>
                            <span class="nav-link-text">Activities</span>
                        </a>
                    </li>
                </ul>

                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </nav>

    <section>
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-5 mt-md-4 pb-5">
                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>
                                @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-outline form-white mb-4">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", placeholder = "Email", id = "typeEmailX" })
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", placeholder = "Password", id = "typePasswordX" })
                                    </div>
                                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                                }

                                @Html.Partial("_ExternalLoginsListPartial", new Airline21.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

                                <a href="#" class="google-login-btn">
                                    <i class="fab fa-google fa-lg"></i> Google
                                </a>

                                <div>
                                    <p class="mb-0">
                                        Don't have an account? <a href="@Url.Action("Register", "Account")" class="text-white-50 fw-bold">Sign Up</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/vendors/popperjs/popper.min.js"></script>
<script src="~/vendors/bootstrap/bootstrap.min.js"></script>
<script src="~/vendors/is/is.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="~/vendors/fontawesome/all.min.js"></script>
<script src="~/assets/js/theme.js"></script>
