@model IEnumerable<Airline21.Models.Ticket>

@{
    ViewBag.Title = "Ticket";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .button-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px; /* Để tạo khoảng cách giữa nút và bảng */
    }

        .button-container button {
            margin-right: 10px; /* Để tạo khoảng cách giữa các nút */
        }
</style>
<h2>Ticket</h2>

<p>
    <div class="button-container">
        <button onclick="location.href='@Url.Action("Create")'" class="btn btn-primary">Create New</button>
        <button onclick="DownloadExcel()" class="btn btn-success">Excel Export</button>




    </div>
    <script>
        function DownloadExcel() {
            // Tạo một form ẩn
            var form = $('<form action="/Excel/ExcelExport" method="post"></form>');

            // Thêm một input ẩn để chứa dữ liệu, nếu cần
            // form.append('<input type="hidden" name="someData" value="someValue" />');

            // Thêm form vào body
            $('body').append(form);

            // Submit form
            form.submit();

            // Xóa form sau khi đã submit
            form.remove();
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</p>
<table class="table">
    <tr class="table-warning">
        <th>
            @Html.DisplayNameFor(model => model.IdFlight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priceSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.luggage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandLuggage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameTicket)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table-success">
            <td>
                @Html.DisplayFor(modelItem => item.IdFlight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priceSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updated_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.luggage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandLuggage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameTicket)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ticketID }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.ticketID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ticketID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
